/*
Add number before every header
For example,
1. Heading 1
1.1. Heading 1/1
1.1.1. Heading 1/1/1
1.1.2. Heading 1/1/2
1.2. Heading 1/2
1.2.1. Heading 1/2/1
2. Heading 2
2.1. Heading 2/1
*/

headingContent($num)
  $result = ''
  for $x in 1 .. $num
    if ($x == $num)
      $result += s('counter(%s) ". "', unquote('h' + $x))
    else
      $result += s('counter(%s) "." ', unquote('h' + $x))
  return unquote($result)

for $num in 1 .. 6
  h{$num}
    counter-reset unquote('h' + ($num + 1))

for $num in 1 .. 6
  h{$num}:before
    counter-increment unquote('h' + $num)
    content headingContent($num)
    font-weight bold